*.log
tmp/*
./nino
node_modules/*
package-lock.json


petstore/source/* 
petstore/target/* 
**/analyze.yaml
**-descriptor.dot
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/nino.iml
.idea/vcs.xml
nino
