*.log
tmp/*
./nino
node_modules/*
package-lock.json


petstore/source/* 
petstore/target/* 
**/analyze.yaml
**-descriptor.dot
.idea/
nino
.problems/

cypress/screenshots
tests/cypress/screenshots
tests/cypress/videos/ui_spec.cy.js-compressed.mp4
tests/cypress/videos/ui_spec.cy.js.mp4
