version: "3.3"

services:

  bddprod:
    image: postgres:12.3
    environment:
      - POSTGRES_USER=jhpetclinic
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5432:5432"
    networks:
      - app_net

  bddqualif:
    image: postgres:12.3
    environment:
      - POSTGRES_USER=jhpetclinic
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5433:5432"
    networks:
      - app_net

  nino:
    image: 0blive/nino
    environment:
      - ADMIN=admin
    ports:
      - "2442:2442"
    networks:
      - app_net

# networks section
networks:
  app_net:
    driver: bridge
